<mat-toolbar color="primary">
    <button mat-icon-button (click)="onMenuClick()" name="Side bar">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title" routerLink="home">rickenator</span>
    <span class="spacer"></span>
    <button [matMenuTriggerFor]="menu" mat-button name="Account">
        {{authService.user?.email}}&nbsp;
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="login" *ngIf="!authService.user">
            <mat-icon>lock</mat-icon>
            <span>Log in</span>
        </button>
        <button mat-menu-item *ngIf="authService.user" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
        </button>
    </mat-menu>
</mat-toolbar>