<mat-card>
  <div class="contain">
    <mat-form-field>
      <input matInput placeholder="Location" [(ngModel)]="Threat">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Details" [(ngModel)]="Details">
    </mat-form-field>

    <mat-form-field *ngIf="authService.user">
      <mat-select placeholder="Select" [(ngModel)]="Status">
        <mat-option value="Finished">Finished</mat-option>
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="Denied">Denied</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div align="right">
    <button mat-raised-button (click)="addMission()">Add</button>
  </div>
</mat-card>