<mat-accordion>
  <mat-expansion-panel *ngFor="let mission of missions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{mission.Threat}}
      </mat-panel-title>
      <mat-panel-description align="right">
        {{mission.Status}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngIf="!authService.user">{{mission.Detail}}</p>
    <div *ngIf="authService.user">
      <mat-form-field class="full-width">
        <input matInput placeholder="Edit" [(ngModel)]="mission.Detail">
      </mat-form-field>

      <div align="right">
        <mat-form-field>
          <mat-select [(ngModel)]="mission.Status">
            <mat-option>-- None --</mat-option>
            <mat-option value="Finished">Finished</mat-option>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Denied">Denied</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>